<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ഐ.ഒ.റ്റി അധിഷ്ഠിത കാട്ടാക്കട</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="https://icfoss.in/vendor/front/images/favicon.png" type="image/x-icon"> 
    <link rel="icon" href="https://icfoss.in/vendor/front/images/favicon.png" type="image/x-icon">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            background-color: rgba(252, 248, 248, 0.575);
        }

        header {
            max-height: 100px;
            display: flex;
            flex-direction: row;
            /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
                0 4px 20px 0 rgba(0, 0, 0, 0.19); */
            justify-content: center;
            text-align: center;
            background-color: rgba(252, 248, 248, 0.575);
        }

        header>div {
            flex: 33%;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

        h2 {
            font-size: 32px;
            color: rgb(77, 75, 75);
            /* font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
        }

        .logo_govt {
            width: 90px;
        }

        .logo_icfoss {
            width: 100px;
        }

        .logo_lorawan {
            width: 110px;
        }

        .main {
            margin: 0;
            padding: 0;
            min-height: 70vh;
        }

        .inner-main {
            margin: 0;
            padding: 0;
            min-height: 70vh;
        }

        .row {
            display: flex;
            flex-direction: row;
        }

        .col {
            flex: 50%;
            background: url("{{url_for('static',filename='images/katakada.jpg')}}");
            background-size: cover;
            /* background-repeat: no-repeat; */
        }

        .right-col-div {
            background: rgb(255 255 255 / 92%);
            min-height: 100%;
        }

        .box {
            display: flex;
            flex-direction: column;
            margin-top: 2em;
        }

        .a-links {
            text-decoration: none;
            background-color: #ffffffc4;
            color: rgb(60 43 43);
            color: black;
            margin: 10px;
            padding: 15px;
            width: 50%;
            border-radius: 15px;
            font-weight: 400;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
                0 4px 20px 0 rgba(0, 0, 0, 0.19);
            font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        .a-links:hover {
            background-color: #f37920;
            color: white;
        }

        .img-map {
            width: 100%;
        }

        footer {
            background-color: rgba(252, 248, 248, 0.575);
            margin: 0;
            padding: 0;
            height: 15vh;
            margin-top: 1em;
        }

        .footer {
            font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI",
                Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            text-align: center;
            /* padding-top: 2em; */
            font-size: 15px;
            padding-bottom: auto;
        }

        p {
            font-size: 10px;
        }

        span {
            text-align: end;
            display: block;
            float: right;
        }

        span>i {
            color: rgba(97, 97, 97, 0.479);
        }

        .a-links:hover i {
            color: rgb(255, 255, 255);
        }

        @media (max-width: 768px) {
            .row {
                flex-direction: column;
            }

            .a-links {
                width: auto;
            }

        }

/*
        .inagural-section {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* width: 100vw;
            height: 100vh; */
            background-color: white;
            background: url("{{url_for('static',filename='images/welcome.png')}}");
            background-size: cover;
            background-position: center;
            transition: opacity 0.5s;
            z-index: 1;
            opacity: 1;
            cursor: pointer;
            text-align: center;
        }
*/
        .bottom-view {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .main-page {
            /* display: none; */
  //          z-index: 2;
    //        opacity: 0;
      //      transition: opacity 0.5s;
        }

        @media (max-width: 480px) {
            h2 {
                font-size: 1em;
            }

            .logo_govt {
                width: 50%;
            }

            .logo_icfoss {
                width: 50%;
            }

            .logo_lorawan {
                width: 40%;
            }

        }
    </style>
</head>

<body>

   <!-- <div onclick="showMain();" class="inagural-section" id="inagural-section">
        <div class="top-div">
            <h2>ഐ.ഒ.റ്റി അധിഷ്ഠിത കാട്ടാക്കട <br> സമർപ്പണം</h2>
        </div>
        <div class="bottom-view">
            <h2 style="font-size: 20px;">2023 മെയ് 19 വെള്ളിയാഴ്ച വൈകുന്നേരം 4 മണി</h2>
        </div>
    </div>
-->
    <div class="main-page" id="main-page">

        <header>
            <div>
                <img class="logo_govt" src="{{url_for('static',filename='images/kerala_govt.png')}}"  alt="icfoss" />
                <img class="logo_icfoss" src="{{url_for('static',filename='images/icfoss.svg')}}" alt="icfoss" />
            </div>
            <div>
                <h2>ഐ.ഒ.റ്റി അധിഷ്ഠിത കാട്ടാക്കട</h2>
                <!-- <h2>IoT Enabled Kattakada</h2> -->
            </div>
            <div>
                <img class="logo_lorawan" src="{{url_for('static',filename='images/lorawan.png')}}" alt="lorawan" />
            </div>
        </header>
        <div class="main">
            <div class="inner-main">
                <div class="row">
                    <div class="col">
                        <div class="box">
                            <a class="a-links" target="_blank" href="https://visualize.openiot.in/d/6Gv9JQ84z/smart_panchayath_agriculture?orgId=2&from=now-12h&to=now&refresh=5m">കാർഷികം
                                <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
                            <a class="a-links" target="_blank" href="https://visualize.openiot.in/d/dDHVuQUVz/smart_panchayath_animal_husbandry?orgId=2&refresh=5m">മൃഗസംരക്ഷണം
                                <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
                            <a class="a-links" target="_blank" href="https://visualize.openiot.in/d/uzDMAlU4z/health-care?orgId=2&refresh=30s">ആരോഗ്യ പരിരക്ഷ <span><i
                                        class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
                            <a class="a-links" target="_blank" href="https://visualize.openiot.in/d/D0Diyd5Vkefe/smart-kattakada-3-phase-energy-meter?orgId=2&refresh=1m">ഊർജ്ജ നിരീക്ഷണം <span><i
                                        class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
                            <a class="a-links" target="_blank" href="https://visualize.openiot.in/d/8ujakl84z/smart_panchayath_water_management?orgId=2&refresh=5m">
                                ജലവിഭവ നിരീക്ഷണം <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
                            <a class="a-links" target="_blank" href="https://visualize.openiot.in/d/K5y8Ahbnk/kulathummal-govt-hss-kattakkada?orgId=2&refresh=15m">കാലാവസ്ഥാ നിരീക്ഷണം <span><i
                                        class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
                            <a class="a-links" target="_blank" href="https://visualize.openiot.in/d/_jHSThxnzaf/solar_air_quality?orgId=2&refresh=30s">വായു ഗുണനിലവാരം <span><i
                                        class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
                        </div>
                        <br>
                    </div>
                    <div class="col">
                        <div class="right-col-div">

                            <img class="img-map" src="{{url_for('static',filename='images/map.png')}}" alt="" />
                            <!-- Image source : https://www.facebook.com/photo/?fbid=414781324097273&set=pb.100066962273010.-2207520000.-->


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                Developed by CDOH<br />
                International Centre for Free and Open Source Solutions<br />
                <p> All content on this site is available under the Creative Commons
                    Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0) licence.
                </p>

            </div>
        </footer>
    </div>

    <script>
   /*     function showMain() {
            // document.getElementById("inagural-section").style.display = "none";
            // document.getElementById("main-page").style.display = "block";
            document.getElementById("inagural-section").style.opacity = 0;
            document.getElementById("main-page").style.opacity = 1;

            setTimeout(function () {
                document.getElementById("inagural-section").style.zIndex = -1;
                document.getElementById("main-page").style.zIndex = 1;
            }, 500);


        }*/
    </script>
</body>

</html>
